<%
=begin
  local params
    - enable_delete
         true: show delete link
         false: don't show delete link
=end
enable_delete ||= false
%>
<li>
  <%= gravatar_for user, size:52 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) && !user.admin? && enable_delete %>
    　|　<%= link_to "削除", user, method: :delete, 
                data: { confirm: "#{user.name}さんを削除してよろしいですか？" } %>
  <% end %>
</li>