<% provide(:title, 'About Us') %>
<H1>This is About Page</h1>

<p>このサイトはRuby on Railsを利用した静的なページを表示するアプリケーションです。</p>
<br>
<br>
<h3>contents list</h3>
<ul>
  <li><a href="/web_pages/home" alt="home page">home</a></li>
  <li><a href="/web_pages/help" alt="help page">help</a></li>
</ul>