
body {
  padding-top: 60px;
  background: url("/assets/bg-image.jpg") no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}

h1,h2,h3,h4,h5,p,label {
  color: white;
}

.jumbotron {
  h1,h2,h3,h4,h5,p {
    color: #333333;
  }
}
.navbar-inverse {
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
}
.jumbotron {
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
/* $grayLight: "#eeeeee"; */
/* $grayDarker: "#999999"; */ 

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  /* color: $gray-light; */
  color: white;
  a {
    /* color: $gray; */
    color: white;
    &:hover {
      /* color: $gray-darker; */
      color: yellow;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* errors */
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .form-group;
  @extend .has-error;
}

.bg-notice {
  @extend .bg-warning;
}
.bg-error {
  @extend .bg-danger;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}