// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* sidebar */
aside {
  section {
    padding: 10px 0px;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* users index */
.users {
  list-style: none;
  margin: 0;
  li {
    font-size: 1.4em;
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
    a {
      color :white;
      &:hover {
        color: yellow;
      }
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* microposts */
.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    color: white;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $gray-light;
}
