  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
          <%= link_to "RepoShare", root_path, id: "logo" %>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Sign in", signin_path %></li>
        </ul>
      </div>
    </div>
  </header>